// Couleurs
$color-white:         #fff;
$color-black:         #000;
$color-text:          #574318;
$color-card-text:     #8f6e2c;

// Background
$topnav-bg:               #F7F9F0;
$iconbar-bg:              #707070;
$btngreen-bg:          #93A446;
$btngreen-hover:       #BFCD81;

// // Jumbotron
// $jumbotron-bg:                   $brand-primary;

// Fonts
$font-oswald: 'Oswald', sans-serif;
$font-lato: 'Lato', sans-serif;

$font-family-base:       $font-lato;
$headings-font-family:   $font-oswald;
$headings-font-weight:   normal;

//Carousel
$color-control: rgb(219, 217, 217);
$blue-caption: #6f89b1;

// Cards
$card-width: 24vw;
$card-height: 25vw;
$card-top: 10vw;
$card-bg: $color-white !important;
$card-marginl: 2vw;

